* {
  margin: 0;
}

.container-1,
.container-2,
.container-3,
.container-4 {
  margin: auto;
  margin-top: 20px;
  width: 75%;
  display: flex;
  justify-content: center;
}

.container-3 {
  justify-content: space-around;
}

.container-1 form {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.container-1 input {
  outline-width: 0;
}
